/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header{
  font-size: 50px;
  text-align: center;
  height: 80px;
  line-height: 80px;
  color: white;
  font-family: monospace;
}

.menu{
  font-size: 18px;
  text-align: center;
  height: 80px;
  line-height: 20px;
  color: black;
}

.a_quiz{
  width: 95%;
  min-height: 100px;
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 5px;
}

.responsive-img{
  max-height: 180px;
  padding: 5px;
}

.show-img{
  max-width: 66%;
  padding:5px;

}

.quiz-text{
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  width: 60%;
}

.quiz-info{
  width: 60%;
  margin-right: 34%;
  text-align: right;
}

.surrender{
  padding-top: 10px;
}

.thankyou{
  text-align: center;
  font-size: 30px;
  color: red;
}

.quizzes{
  float: left;
}

.more_list{
  float: left;
}

.content_right{
  margin-top: 20px;
  float: right;
  width: 33%;
}

.current_user_info{


  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  border-top: solid 5px black;
  border-bottom: solid 5px black;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  margin-bottom: 15px;
  text-align: center;
  border-radius: 8px;
}

.rank1{
background-image: linear-gradient(to top left, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03);
  font-weight: 800;
  font-size: 20px;
  line-height: 40px;
  border-top: solid 5px black;
  border-bottom: solid 5px black;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  margin-bottom: 15px;
  text-align: center;
  border-radius: 8px;
}

.rank2{
  background-color: #C0C0C0;
  font-weight: 600;
  font-size: 16px;
  margin: 5px 0;
  padding: 5px 0;
  text-align: center;
  border-radius: 5px;
}

.rank3{
  background-color: #7F270A;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  border-radius: 3px;
}
